.display {
    -fx-min-height: 6em;
    -fx-max-width: infinity;

}

.display .input {
    -fx-max-width: infinity;
    -fx-alignment: center-right;
    -fx-font-size: 2em;
    -fx-text-overrun: leading-ellipsis;
}

.display .result {
    -fx-max-width: infinity;
    -fx-alignment: center-right;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.keypad {
    -fx-max-height: infinity;
    -fx-max-width: infinity;
}

.keypad > .keys {
    -fx-hgap: 0;
    -fx-vgap: 0;
}

.keypad > .keys > .button {
    -fx-min-width: 4em;
    -fx-max-width: infinity;

    -fx-min-height: 4em;
    -fx-max-height: infinity;

    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

