.display {
    -fx-min-height: 6em;
    -fx-max-width: infinity;

    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.display > .label {
    -fx-max-width: infinity;
    -fx-alignment: right;
    -fx-label-padding: 10px;
}

.keypad {
    -fx-max-height: infinity;
    -fx-max-width: infinity;
}

.keypad > .keys {
    -fx-hgap: 0;
    -fx-vgap: 0;
}

.keypad > .keys > .button {
    -fx-min-width: 2em;
    -fx-max-width: infinity;

    -fx-min-height: 2em;
    -fx-max-height: infinity;

    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

